* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  background-color: #181818;
}

.part-one {
  display: flex;
  height: 88vh;
  justify-content: center;
}
/* NAVBAR */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #202020;
  position: relative;
  z-index: 10;
}

.logo {
  color: white;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #69ee50;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-links li {
  list-style: none;
}

.burger {
  display: none;
}

.burger div {
  width: 32px;
  height: 2px;
  background-color: white;
  margin: 6px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #202020;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
    width: 65%;
    transform: translateX(100%);
    transition: 0.3s ease-in;
  }
  .nav-links li {
    opacity: 0;
    margin: 20px 30px;
  }
  .burger {
    display: block;
    cursor: pointer;
    width: 48px;
    height: 38px;
  }
}

.nav-active {
  transform: translate(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* typewriter */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 88vh;
  align-items: center;
  color: rgb(255, 255, 255);
}

.intro h1,
h3 {
  text-align: left;
  font-weight: 200;
}

/* .text::after {
  content: "";
  position: absolute;
  width: 1px;
  right: -5px;
  height: 90%;
  border-right: 0.2rem solid black;
} */

/* @keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

#text {
  display: flex;
  align-items: center;
  border-right: solid #69ee50 1px;
  height: 25px;
  animation-delay: 2s;
}

@media screen and (max-width: 1024px) {
  .intro h1,
  h3 {
    margin: 0;
  }
}

/* floating laptop */

.banner {
  width: 80vw;
  height: 88vh;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.floating-laptop {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* buttons */
.social-links {
  height: 3rem;
  width: 10rem;
  margin-top: 2rem;
  border-style: none;
  border-radius: 5px;
}
.social-links i {
  margin-right: 8px;
}
.banner button {
  color: #202020;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 550;
  transition: all 0.3s ease;
}
.twitter:hover {
  background-color: #1d9bf0;
  cursor: pointer;
  color: white;
}
.github:hover {
  background-color: #46954a;
  cursor: pointer;
  color: white;
}
.in:hover {
  background-color: #0a66c2;
  cursor: pointer;
  color: white;
}
.arrow {
  height: 4vh;
  display: flex;
  justify-content: center;
  color: #69ee50;
  font-size: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .floating-laptop {
    display: none;
  }
  .banner {
    padding-top: 1rem;
    grid-template-columns: minmax(0, 1fr);
  }
  /* .arrow {
    height: 2vh;
    font-size: 1rem;
  } */
  .social-links {
    height: 2rem;
    width: 8rem;
    margin-top: 1rem;
  }
}

/* part-two */
.about-head {
  display: block;
  padding-top: 3rem;
  background-color: #202020;
}

.about-head h1 {
  color: white;
  text-align: center;
}

.part-two {
  background-color: #202020;

  display: flex;
  height: 60vh;
  justify-content: center;
}
.about {
  width: 80vw;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
}
.about p {
  font-size: 1.2rem;
  text-align: left;
  font-weight: 200;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .hello {
    display: none;
  }
  .about {
    width: 100vw;
    grid-template-columns: minmax(0, 1fr);
  }
  .about p {
    background-color: #202020;
    padding: 1.5rem;
    font-size: 1rem;
  }
}
